CodeGeneratorOpenness/obj/*
.vs/*
CodeGeneratorOpenness/bin/Debug/CodeGeneratorOpenness.exe
CodeGeneratorOpenness/bin/Debug/CodeGeneratorOpenness.exe.config
CodeGeneratorOpenness/bin/Debug/CodeGeneratorOpenness.pdb
